.menu-sections-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}

@media (min-width: 700px) {
  .menu-sections-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .menu-sections-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
